test/flows.json
[
    {
        "id": "5cc6ca02.0e2a64",
        "type": "tab",
        "label": "Nodes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a2248b8.76ba18",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "https://alexa.amazon.it/spa/index.html#skills/beta/amzn1.ask.skill.a1319900-a900-47c2-bdb4-2f5e4ca89cae/?ref=skill_dsk_skb_ys\n\nhttps://developer.amazon.com/en-US/docs/alexa/smarthome/steps-to-build-a-smart-home-skill.html\n\nhttps://flows.nodered.org/flow/5a4d0fd9e3332ab6ecb56bbd51ed77f8\n\nhttps://www.saggiamente.com/2020/01/come-usare-home-assistant-con-alexa-gratuitamente-metodo-aggiornato-senza-nabucasa-e-token/\n\nhttps://developer.amazon.com/en-US/docs/alexa/account-linking/account-linking-for-sh-and-other.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/account-linking/add-account-linking-logic-smart-home.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/smarthome/understand-the-smart-home-skill-api.html\n\nhttps://www.home-assistant.io/integrations/alexa.smart_home/\n\nhttps://developer.amazon.com/en-US/docs/alexa/device-apis/message-guide.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/custom-skills/host-a-custom-skill-as-a-web-service.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/device-apis/alexa-discovery.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/custom-skills/host-a-custom-skill-as-a-web-service.html#verify-request-sent-by-alexa\n\nhttps://developer.amazon.com/en-US/docs/alexa/custom-skills/host-a-custom-skill-as-a-web-service.html#manually-verify-request-sent-by-alexa\n\nhttps://github.com/alexa/alexa-skills-kit-sdk-for-nodejs\n\nhttps://developer.amazon.com/en-US/docs/alexa/account-linking/understand-account-linking.html\n\nhttps://developer.amazon.com/docs/login-with-amazon/register-web.html\n\nhttps://developer.amazon.com/docs/login-with-amazon/register-web.html#create-a-new-security-profile\n\nhttps://flows.nodered.org/flow/195773d3b493d81c9bf012f64da02ea3\n\nhttps://developer.amazon.com/docs/login-with-amazon/web-docs.html\n\npassport-amazon\ncognito-express\n\nhttps://developer.amazon.com/en-US/docs/alexa/device-apis/alexa-authorization.html#directives\n\nhttps://www.home-assistant.io/integrations/alexa.smart_home/\n\nhttps://developer.amazon.com/en-US/docs/alexa/account-linking/configure-authorization-code-grant.html\n"
    },
    {
        "id": "a2728c12.4058f",
        "type": "alexa-adapter",
        "name": "Alexa",
        "http_path": "alexa",
        "login_with_amazon": true,
        "event_endpoint": "http://127.0.0.1:1880/alexa/events",
        "scope": "smart_home",
        "emails": [
            "claudio@gmail.com"
        ],
        "msg_check": false,
        "verbose": true,
        "port": ""
    },
    {
        "id": "58c096a.8fa0d68",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Multi",
        "display_categories": [
            "CAMERA"
        ],
        "topic": "multi",
        "a_inputs": [
            "AUX 1",
            "AUX 2",
            "AUX 3",
            "AUX 4",
            "AUX 5",
            "AUX 6",
            "AUX 7",
            "BLURAY",
            "CABLE",
            "CD",
            "COAX 1",
            "COAX 2",
            "COMPOSITE 1",
            "DVD",
            "GAME",
            "HD RADIO",
            "HDMI 1",
            "HDMI 2",
            "HDMI 3",
            "HDMI 4",
            "HDMI 5",
            "HDMI 6",
            "HDMI 7",
            "HDMI 8",
            "HDMI 9",
            "HDMI 10",
            "HDMI ARC",
            "INPUT 1",
            "INPUT 2",
            "INPUT 3",
            "INPUT 4",
            "INPUT 5",
            "INPUT 6",
            "INPUT 7",
            "INPUT 8",
            "INPUT 9",
            "INPUT 10",
            "IPOD",
            "LINE 1",
            "LINE 2",
            "LINE 3",
            "LINE 4",
            "LINE 5",
            "LINE 6",
            "LINE 7",
            "MEDIA PLAYER",
            "OPTICAL 1",
            "OPTICAL 2",
            "PHONO",
            "PLAYSTATION",
            "PLAYSTATION 3",
            "PLAYSTATION 4",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "USB DAC",
            "VIDEO 1",
            "VIDEO 2",
            "VIDEO 3",
            "XBOX"
        ],
        "i_automation_management": true,
        "i_brightness_controller": true,
        "i_camera_stream_controller": true,
        "i_channel_controller": true,
        "i_color_controller": true,
        "i_color_temperature_controller": true,
        "i_contact_sensor": true,
        "i_doorbell_event_source": true,
        "i_endpoint_health": true,
        "i_equalizer_controller": true,
        "i_device_usage_estimation": true,
        "i_event_detection_sensor": true,
        "i_input_controller": true,
        "i_inventory_level_sensor": true,
        "i_inventory_usage_sensor": true,
        "i_keypad_controller": true,
        "a_kc_keys": [
            "UP",
            "DOWN",
            "LEFT",
            "RIGHT",
            "SELECT",
            "PAGE_UP",
            "PAGE_DOWN",
            "PAGE_LEFT",
            "PAGE_RIGHT",
            "INFO",
            "MORE"
        ],
        "i_lock_controller": true,
        "i_media_metadata": true,
        "i_device_usage_meter": true,
        "i_mode_controller": true,
        "i_motion_sensor": true,
        "i_percentage_controller": true,
        "i_playback_controller": true,
        "a_playback_modes": [
            "Play",
            "Pause",
            "Stop",
            "StartOver",
            "Previous",
            "Next",
            "Rewind",
            "FastForward"
        ],
        "i_power_controller": true,
        "i_power_level_controller": true,
        "i_range_controller": true,
        "i_rtc_session_controller": false,
        "i_scene_controller": true,
        "i_security_panel_controller": true,
        "i_speaker": true,
        "i_step_speaker": true,
        "i_temperature_sensor": true,
        "i_thermostat_controller": true,
        "a_target_setpoint": true,
        "a_lower_setpoint": true,
        "a_upper_setpoint": true,
        "a_modes": [
            "AUTO",
            "COOL",
            "HEAT",
            "ECO",
            "OFF"
        ],
        "a_supports_scheduling": true,
        "i_thermostat_controller_hvac_components": true,
        "i_toggle_controller": true,
        "i_wake_on_lan_controller": true,
        "camera_stream_configurations": [
            {
                "p": [
                    "HLS"
                ],
                "t": [
                    "NONE"
                ],
                "v": [
                    "H264",
                    "MPEG2",
                    "MJPEG",
                    "JPG"
                ],
                "a": [
                    "G711",
                    "AAC",
                    "NONE"
                ],
                "r": [
                    [
                        "1024",
                        "768"
                    ],
                    [
                        "1920",
                        "1080"
                    ]
                ]
            }
        ],
        "bands": [
            "BASS",
            "MIDRANGE",
            "TREBLE"
        ],
        "modes": [
            "MOVIE",
            "MUSIC",
            "NIGHT",
            "SPORT",
            "TV"
        ],
        "band_range_min": "-6",
        "band_range_max": "6",
        "standby_wattage": "1",
        "maximum_wattage": "10",
        "arm_state": [
            "DISARMED",
            "ARMED_STAY",
            "ARMED_NIGHT",
            "ARMED_AWAY"
        ],
        "alarms": [
            "burglaryAlarm",
            "carbonMonoxideAlarm",
            "fireAlarm",
            "waterAlarm"
        ],
        "pin_code": "1234",
        "exit_delay": "10",
        "mac_addresses": [
            "1.2.3.4",
            "5.6.7.8"
        ],
        "primary_heater_operation": "3",
        "auxiliary_heater_operation": true,
        "cooler_operation": "2",
        "fan_operation": "1",
        "electricity_measuring_method": "MEASURED",
        "electricity_unit": "MILLIWATT_HOUR",
        "electricity_default_resolution": "3600",
        "natural_gas_measuring_method": "ESTIMATED",
        "natural_gas_unit": "CUBIC_FOOT",
        "natural_gas_default_resolution": "7200",
        "toggles": [
            {
                "instance": "SampleManufacturer.Fan.Oscillate",
                "capability_resources": "{\"friendlyNames\":[{\"@type\":\"asset\",\"value\":{\"assetId\":\"Alexa.Setting.Oscillate\"}},{\"@type\":\"text\",\"value\":{\"text\":\"Rotate\",\"locale\":\"en-US\"}},{\"@type\":\"text\",\"value\":{\"text\":\"Rotation\",\"locale\":\"en-US\"}},{\"@type\":\"text\",\"value\":{\"text\":\"Girar\",\"locale\":\"es-MX\"}},{\"@type\":\"text\",\"value\":{\"text\":\"Rotation\",\"locale\":\"fr-CA\"}}]}"
            },
            {
                "instance": "SampleManufacturer.Fan.Oscillate12",
                "capability_resources": "{\"friendlyNames\":[{\"@type\":\"asset\",\"value\":{\"assetId\":\"Alexa.Setting.Oscillate\"}},{\"@type\":\"text\",\"value\":{\"text\":\"Rotate\",\"locale\":\"en-US\"}},{\"@type\":\"text\",\"value\":{\"text\":\"Rotation\",\"locale\":\"en-US\"}},{\"@type\":\"text\",\"value\":{\"text\":\"Girar\",\"locale\":\"es-MX\"}},{\"@type\":\"text\",\"value\":{\"text\":\"Rotation\",\"locale\":\"fr-CA\"}}]}"
            }
        ],
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "21a10626.9a490a",
                "a1e3c3f6.df955"
            ]
        ]
    },
    {
        "id": "21a10626.9a490a",
        "type": "debug",
        "z": "5cc6ca02.0e2a64",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c359c45b.db9df8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reportState",
        "payload": "reportState",
        "payloadType": "str",
        "x": 260,
        "y": 1740,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "4875dfe1.7f992",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetMedia 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetMedia",
        "payload": "{\"id\":\"1\",\"cause\":\"cause of media creation\",\"recording\":{\"name\":\"Optional video name\",\"startTime\":\"2018-06-29T19:20:41Z\",\"endTime\":\"2018-06-29T19:21:41Z\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"uri\":{\"value\":\"https://somedomain/somevideo.mp4\",\"expireTime\":\"2018-06-29T19:31:41Z\"},\"thumbnailUri\":{\"value\":\"https://somedomain/someimage.png\",\"expireTime\":\"2018-06-29T19:31:41Z\"}}}",
        "payloadType": "json",
        "x": 290,
        "y": 1660,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "5ccc13e4.e9e5dc",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetMedia 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetMedia",
        "payload": "{\"id\":\"2\",\"cause\":\"cause of media creation\",\"recording\":{\"name\":\"Optional video name\",\"startTime\":\"2018-06-29T19:20:41Z\",\"endTime\":\"2018-06-29T19:21:41Z\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"uri\":{\"value\":\"https://somedomain/somevideo.mp4\",\"expireTime\":\"2018-06-29T19:31:41Z\"},\"thumbnailUri\":{\"value\":\"https://somedomain/someimage.png\",\"expireTime\":\"2018-06-29T19:31:41Z\"}}}",
        "payloadType": "json",
        "x": 290,
        "y": 1700,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "d8a877bb.329d08",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "AddOrUpdateMedia 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "AddOrUpdateMedia",
        "payload": "{\"id\":\"1\",\"cause\":\"cause of media creation\",\"recording\":{\"name\":\"Optional video name\",\"startTime\":\"2018-06-29T19:20:41Z\",\"endTime\":\"2018-06-29T19:21:41Z\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"uri\":{\"value\":\"https://somedomain/somevideo.mp4\",\"expireTime\":\"2018-06-29T19:31:41Z\"},\"thumbnailUri\":{\"value\":\"https://somedomain/someimage.png\",\"expireTime\":\"2018-06-29T19:31:41Z\"}}}",
        "payloadType": "json",
        "x": 260,
        "y": 1780,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "6b7972c8.d196ac",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "AddOrUpdateMedia 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "AddOrUpdateMedia",
        "payload": "{\"id\":\"2\",\"cause\":\"cause of media creation\",\"recording\":{\"name\":\"Optional video name\",\"startTime\":\"2018-06-29T19:20:41Z\",\"endTime\":\"2018-06-29T19:21:41Z\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"uri\":{\"value\":\"https://somedomain/somevideo.mp4\",\"expireTime\":\"2018-06-29T19:31:41Z\"},\"thumbnailUri\":{\"value\":\"https://somedomain/someimage.png\",\"expireTime\":\"2018-06-29T19:31:41Z\"}}}",
        "payloadType": "json",
        "x": 260,
        "y": 1820,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "520f57ab.bd85c8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetMedia",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetMedia",
        "payload": "[]",
        "payloadType": "json",
        "x": 300,
        "y": 1620,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "3bdd2b87.908d34",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "RemoveMedia 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "RemoveMedia",
        "payload": "1",
        "payloadType": "str",
        "x": 280,
        "y": 1860,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "a018dd66.8e2bb",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "RemoveMedia 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "RemoveMedia",
        "payload": "2",
        "payloadType": "str",
        "x": 280,
        "y": 1900,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "44750f6a.f113b",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "RemoveMedia 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "RemoveMedia",
        "payload": "3",
        "payloadType": "str",
        "x": 280,
        "y": 1940,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "adb9c6e69e992eb0",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "Camera Streams",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "8",
        "topic": "cameraStreams",
        "payload": "{\"cameraStreams\":[{\"uri\":\"https://pizza.dynu.net/hls/bbb.m3u8\",\"expirationTime\":\"2022-02-03T16:20:50.52Z\",\"idleTimeoutSeconds\":30,\"protocol\":\"HLS\",\"resolution\":{\"width\":1920,\"height\":1080},\"authorizationType\":\"NONE\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\"}],\"imageUri\":\"https://upload.wikimedia.org/wikipedia/commons/f/fb/Veduta_di_Paestum_2010.jpg\"}",
        "payloadType": "json",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "47019e74.d4e6b",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "getState",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "7b40b80.dcbf448",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"powerState\": \"ON\"}",
        "payloadType": "json",
        "x": 270,
        "y": 2380,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "3c9b7fa6.6357f",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"powerState\": \"OFF\"}",
        "payloadType": "json",
        "x": 260,
        "y": 2420,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "5afc7e5.655468",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetSecurityDeviceNamesInError",
        "payload": "[\"Finestra Cucina\",\"Finestra Bagno\"]",
        "payloadType": "json",
        "x": 230,
        "y": 2660,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "d8f22efa.dde0a",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Finestra Cucina",
        "display_categories": [
            "CONTACT_SENSOR"
        ],
        "topic": "finestra/cucina",
        "a_inputs": [
            "BLURAY",
            "CABLE",
            "CD",
            "DVD",
            "GAME",
            "IPOD",
            "PHONO",
            "PLAYSTATION",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "XBOX"
        ],
        "i_automation_management": "",
        "i_brightness_controller": "",
        "i_camera_stream_controller": "",
        "i_channel_controller": "",
        "i_color_controller": "",
        "i_color_temperature_controller": "",
        "i_contact_sensor": true,
        "i_doorbell_event_source": "",
        "i_endpoint_health": true,
        "i_equalizer_controller": "",
        "i_device_usage_estimation": false,
        "i_event_detection_sensor": "",
        "i_input_controller": "",
        "i_inventory_level_sensor": "",
        "i_inventory_usage_sensor": "",
        "i_keypad_controller": "",
        "a_kc_keys": [],
        "i_lock_controller": "",
        "i_media_metadata": "",
        "i_device_usage_meter": true,
        "i_mode_controller": "",
        "i_motion_sensor": true,
        "i_percentage_controller": "",
        "i_playback_controller": "",
        "a_playback_modes": [],
        "i_power_controller": "",
        "i_power_level_controller": "",
        "i_range_controller": "",
        "i_rtc_session_controller": "",
        "i_scene_controller": "",
        "i_security_panel_controller": "",
        "i_speaker": "",
        "i_step_speaker": "",
        "i_temperature_sensor": "",
        "i_thermostat_controller": "",
        "a_target_setpoint": false,
        "a_lower_setpoint": false,
        "a_upper_setpoint": false,
        "a_modes": [],
        "a_supports_scheduling": false,
        "i_thermostat_controller_hvac_components": "",
        "i_toggle_controller": "",
        "i_wake_on_lan_controller": "",
        "camera_stream_configurations": [],
        "bands": [],
        "modes": [],
        "band_range_min": -6,
        "band_range_max": 6,
        "standby_wattage": "",
        "maximum_wattage": "",
        "arm_state": [],
        "alarms": [],
        "pin_code": "",
        "exit_delay": "",
        "mac_addresses": [],
        "primary_heater_operation": "",
        "auxiliary_heater_operation": false,
        "cooler_operation": "",
        "fan_operation": "",
        "electricity_measuring_method": "ESTIMATED",
        "electricity_unit": "MILLIWATT_HOUR",
        "electricity_default_resolution": "3601",
        "natural_gas_measuring_method": "MEASURED",
        "natural_gas_unit": "CUBIC_FOOT",
        "natural_gas_default_resolution": "3600",
        "x": 720,
        "y": 620,
        "wires": [
            [
                "21a10626.9a490a"
            ]
        ]
    },
    {
        "id": "12c1a902.fc37c7",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Finestra Bagno",
        "display_categories": [
            "CONTACT_SENSOR"
        ],
        "topic": "finestra/bagno",
        "a_inputs": [
            "BLURAY",
            "CABLE",
            "CD",
            "DVD",
            "GAME",
            "IPOD",
            "PHONO",
            "PLAYSTATION",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "XBOX"
        ],
        "i_automation_management": "",
        "i_brightness_controller": "",
        "i_camera_stream_controller": "",
        "i_channel_controller": "",
        "i_color_controller": "",
        "i_color_temperature_controller": "",
        "i_contact_sensor": true,
        "i_doorbell_event_source": "",
        "i_endpoint_health": "",
        "i_equalizer_controller": "",
        "i_device_usage_estimation": false,
        "i_event_detection_sensor": "",
        "i_input_controller": "",
        "i_inventory_level_sensor": "",
        "i_inventory_usage_sensor": "",
        "i_keypad_controller": "",
        "a_kc_keys": [],
        "i_lock_controller": "",
        "i_media_metadata": "",
        "i_device_usage_meter": false,
        "i_mode_controller": "",
        "i_motion_sensor": true,
        "i_percentage_controller": "",
        "i_playback_controller": "",
        "a_playback_modes": [],
        "i_power_controller": "",
        "i_power_level_controller": "",
        "i_range_controller": "",
        "i_rtc_session_controller": "",
        "i_scene_controller": "",
        "i_security_panel_controller": "",
        "i_speaker": "",
        "i_step_speaker": "",
        "i_temperature_sensor": "",
        "i_thermostat_controller": "",
        "a_target_setpoint": false,
        "a_lower_setpoint": false,
        "a_upper_setpoint": false,
        "a_modes": [],
        "a_supports_scheduling": false,
        "i_thermostat_controller_hvac_components": "",
        "i_toggle_controller": "",
        "i_wake_on_lan_controller": "",
        "camera_stream_configurations": [],
        "bands": [],
        "modes": [],
        "band_range_min": -6,
        "band_range_max": 6,
        "standby_wattage": "",
        "maximum_wattage": "",
        "arm_state": [],
        "alarms": [],
        "pin_code": "",
        "exit_delay": "",
        "mac_addresses": [],
        "primary_heater_operation": "",
        "auxiliary_heater_operation": false,
        "cooler_operation": "",
        "fan_operation": "",
        "electricity_measuring_method": "",
        "electricity_default_resolution": "",
        "natural_gas_measuring_method": "",
        "natural_gas_default_resolution": "",
        "x": 720,
        "y": 680,
        "wires": [
            [
                "21a10626.9a490a"
            ]
        ]
    },
    {
        "id": "14103df2.b76e12",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "AddSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "AddSecurityDeviceNamesInError",
        "payload": "[\"Finestra Cucina\",\"Finestra Salotto\",\"Finestra Bagno\"]",
        "payloadType": "json",
        "x": 230,
        "y": 2700,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "90e497ed.6da6c8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "DelSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DelSecurityDeviceNamesInError",
        "payload": "[\"Finestra Cucina\",\"Finestra Bagno\"]",
        "payloadType": "json",
        "x": 230,
        "y": 2740,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "3dc2d311.e5477c",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Finestra Salotto",
        "display_categories": [
            "CONTACT_SENSOR"
        ],
        "topic": "finestra/salotto",
        "a_inputs": [
            "BLURAY",
            "CABLE",
            "CD",
            "DVD",
            "GAME",
            "IPOD",
            "PHONO",
            "PLAYSTATION",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "XBOX"
        ],
        "i_automation_management": "",
        "i_brightness_controller": "",
        "i_camera_stream_controller": "",
        "i_channel_controller": "",
        "i_color_controller": "",
        "i_color_temperature_controller": "",
        "i_contact_sensor": true,
        "i_doorbell_event_source": "",
        "i_endpoint_health": "",
        "i_equalizer_controller": "",
        "i_device_usage_estimation": false,
        "i_event_detection_sensor": "",
        "i_input_controller": "",
        "i_inventory_level_sensor": "",
        "i_inventory_usage_sensor": "",
        "i_keypad_controller": "",
        "a_kc_keys": [],
        "i_lock_controller": "",
        "i_media_metadata": "",
        "i_device_usage_meter": false,
        "i_mode_controller": "",
        "i_motion_sensor": true,
        "i_percentage_controller": "",
        "i_playback_controller": "",
        "a_playback_modes": [],
        "i_power_controller": "",
        "i_power_level_controller": "",
        "i_range_controller": "",
        "i_rtc_session_controller": "",
        "i_scene_controller": "",
        "i_security_panel_controller": "",
        "i_speaker": "",
        "i_step_speaker": "",
        "i_temperature_sensor": "",
        "i_thermostat_controller": "",
        "a_target_setpoint": false,
        "a_lower_setpoint": false,
        "a_upper_setpoint": false,
        "a_modes": [],
        "a_supports_scheduling": false,
        "i_thermostat_controller_hvac_components": "",
        "i_toggle_controller": "",
        "i_wake_on_lan_controller": "",
        "camera_stream_configurations": [],
        "bands": [],
        "modes": [],
        "band_range_min": -6,
        "band_range_max": 6,
        "standby_wattage": "",
        "maximum_wattage": "",
        "arm_state": [],
        "alarms": [],
        "pin_code": "",
        "exit_delay": "",
        "mac_addresses": [],
        "primary_heater_operation": "",
        "auxiliary_heater_operation": false,
        "cooler_operation": "",
        "fan_operation": "",
        "electricity_measuring_method": "",
        "electricity_default_resolution": "",
        "natural_gas_measuring_method": "",
        "natural_gas_default_resolution": "",
        "x": 720,
        "y": 740,
        "wires": [
            [
                "21a10626.9a490a"
            ]
        ]
    },
    {
        "id": "fd2d1fc9.a6156",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "CONTACT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"contactDetectionState\":\"DETECTED\"}",
        "payloadType": "json",
        "x": 520,
        "y": 620,
        "wires": [
            [
                "d8f22efa.dde0a"
            ]
        ]
    },
    {
        "id": "480e2450.ff5bec",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "NO CONTACT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"contactDetectionState\":\"NOT_DETECTED\"}",
        "payloadType": "json",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "d8f22efa.dde0a"
            ]
        ]
    },
    {
        "id": "afe220b2.11e04",
        "type": "http in",
        "z": "5a2248b8.76ba18",
        "name": "events",
        "url": "/alexa/events",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "5b34170f.a34bd8",
                "5a81a15d.55579"
            ]
        ]
    },
    {
        "id": "5b34170f.a34bd8",
        "type": "debug",
        "z": "5a2248b8.76ba18",
        "name": "Event GW",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "5a81a15d.55579",
        "type": "change",
        "z": "5a2248b8.76ba18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OK",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "2de9b659.8a17ca"
            ]
        ]
    },
    {
        "id": "2de9b659.8a17ca",
        "type": "http response",
        "z": "5a2248b8.76ba18",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "8fc0ad5d.6de5a",
        "type": "file",
        "z": "5a2248b8.76ba18",
        "name": "token",
        "filename": "alexa-tokens_a2728c12.4058f.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "c0299da8.ce3"
            ]
        ]
    },
    {
        "id": "9bae1630.d696c8",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "Tokens",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"own\":{\"access_token\":\"Atza|access_token-own\",\"refresh_token\":\"Atzr|refresh_token-own\",\"expire_at\":9633687638936},\"lwa\":{\"access_token\":\"Atza|access_token-lwa\",\"refresh_token\":\"Atzr|refresh_token-lwa\",\"expire_at\":9630610982765},\"evn\":{\"access_token\":\"Atza|access_token-evn\",\"refresh_token\":\"Atzr|refresh_token-evn\",\"expire_at\":9633691954758}}",
        "payloadType": "json",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "8fc0ad5d.6de5a"
            ]
        ]
    },
    {
        "id": "c0299da8.ce3",
        "type": "debug",
        "z": "5a2248b8.76ba18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "83a041b0.cc2f7",
        "type": "change",
        "z": "5a2248b8.76ba18",
        "name": "endpointId Multi",
        "rules": [
            {
                "t": "set",
                "p": "payload.directive.endpoint.endpointId",
                "pt": "msg",
                "to": "58c096a.8fa0d68",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.directive.endpoint.scope.token",
                "pt": "msg",
                "to": "Atza|access_token-own",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.directive.header.correlationToken",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.directive.header.messageId",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "c638080f.631628"
            ]
        ]
    },
    {
        "id": "bb6581f2.1d929",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "InitializeCameraStreams RTSP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.CameraStreamController\",\"name\":\"InitializeCameraStreams\",\"payloadVersion\":\"3\",\"messageId\":\"d1aabb49-a0e8-4327-b4de-0b35136dc8a0\",\"correlationToken\":\"mio_correlation_token\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{\"cameraStreams\":[{\"authorizationType\":\"NONE\",\"protocol\":\"RTSP\",\"videoCodec\":\"JPG\",\"audioCodec\":\"G711\",\"resolution\":{\"width\":1920,\"height\":1080}}]}}}",
        "payloadType": "json",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "7e30f48e.6c200c",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "InitializeCameraStreams HLS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.CameraStreamController\",\"name\":\"InitializeCameraStreams\",\"payloadVersion\":\"3\",\"messageId\":\"d1aabb49-a0e8-4327-b4de-0b35136dc8a0\",\"correlationToken\":\"mio_correlation_token\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{\"cameraStreams\":[{\"authorizationType\":\"NONE\",\"protocol\":\"HLS\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"resolution\":{\"width\":1920,\"height\":1080}}]}}}",
        "payloadType": "json",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "91def99.88d2b08",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "InitializeCameraStreams",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.CameraStreamController\",\"name\":\"InitializeCameraStreams\",\"payloadVersion\":\"3\",\"messageId\":\"d1aabb49-a0e8-4327-b4de-0b35136dc8a0\",\"correlationToken\":\"mio_correlation_token\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{\"cameraStreams\":[{\"authorizationType\":\"NONE\",\"protocol\":\"HLS\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"resolution\":{\"width\":1920,\"height\":1080}}]}}}",
        "payloadType": "json",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "93166dc8.e3842",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "GetMediaMetadata ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.MediaMetadata\",\"name\":\"GetMediaMetadata\",\"messageId\":\"123-456-789\",\"correlationToken\":\"token\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{\"filters\":{\"mediaIds\":[\"media Ids\",\"1\",\"2\",\"3\"]}}}}",
        "payloadType": "json",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "4af86ba2.9c5134",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "ARMED_AWAY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SecurityPanelController\",\"name\":\"Arm\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{\"armState\":\"ARMED_AWAY\"}}}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "6a50ad68.133f24",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "DISARMED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SecurityPanelController\",\"name\":\"Disarm\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "23fa4207.812ece",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "ARMED_STAY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SecurityPanelController\",\"name\":\"Arm\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{\"armState\":\"ARMED_STAY\"}}}",
        "payloadType": "json",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "8d4fbf8a.3d98a",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "DISARMED 1234",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SecurityPanelController\",\"name\":\"Disarm\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{\"authorization\":{\"type\":\"FOUR_DIGIT_PIN\",\"value\":\"1234\"}}}}",
        "payloadType": "json",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "add3c007.1f022",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "Activate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SceneController\",\"name\":\"Activate\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\"},\"payload\":{}}}",
        "payloadType": "json",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "ffa373be.7e953",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "Deactivate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SceneController\",\"name\":\"Deactivate\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\"},\"payload\":{}}}",
        "payloadType": "json",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "86fe6da9.96efb",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "TurnOn",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.PowerController\",\"name\":\"TurnOn\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "4752a27c.d7af1c",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "TurnOff",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.PowerController\",\"name\":\"TurnOff\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "c638080f.631628",
        "type": "http request",
        "z": "5a2248b8.76ba18",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/alexa/smarthome/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "7f2571fd.2010a"
            ]
        ]
    },
    {
        "id": "7f2571fd.2010a",
        "type": "json",
        "z": "5a2248b8.76ba18",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "416deff1.a0273"
            ]
        ]
    },
    {
        "id": "416deff1.a0273",
        "type": "debug",
        "z": "5a2248b8.76ba18",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "a5519ad.8c21468",
        "type": "debug",
        "z": "5a2248b8.76ba18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "9ef89361.fb55b",
        "type": "catch",
        "z": "5a2248b8.76ba18",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "a5519ad.8c21468"
            ]
        ]
    },
    {
        "id": "82c928de.3dbd58",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Termostato Bagno",
        "display_categories": [],
        "topic": "termostato/bagno",
        "a_inputs": [
            "BLURAY",
            "CABLE",
            "CD",
            "DVD",
            "GAME",
            "IPOD",
            "PHONO",
            "PLAYSTATION",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "XBOX"
        ],
        "i_automation_management": "",
        "i_brightness_controller": "",
        "i_camera_stream_controller": "",
        "i_channel_controller": "",
        "i_color_controller": "",
        "i_color_temperature_controller": "",
        "i_contact_sensor": "",
        "i_doorbell_event_source": "",
        "i_endpoint_health": "",
        "i_equalizer_controller": "",
        "i_device_usage_estimation": false,
        "i_event_detection_sensor": "",
        "i_input_controller": "",
        "i_inventory_level_sensor": "",
        "i_inventory_usage_sensor": "",
        "i_keypad_controller": "",
        "a_kc_keys": [],
        "i_lock_controller": "",
        "i_media_metadata": "",
        "i_device_usage_meter": false,
        "i_mode_controller": "",
        "i_motion_sensor": "",
        "i_percentage_controller": "",
        "i_playback_controller": "",
        "a_playback_modes": [],
        "i_power_controller": "",
        "i_power_level_controller": "",
        "i_range_controller": "",
        "i_rtc_session_controller": "",
        "i_scene_controller": "",
        "i_security_panel_controller": "",
        "i_speaker": "",
        "i_step_speaker": "",
        "i_temperature_sensor": true,
        "i_thermostat_controller": true,
        "a_target_setpoint": false,
        "a_lower_setpoint": false,
        "a_upper_setpoint": false,
        "a_modes": [],
        "a_supports_scheduling": false,
        "i_thermostat_controller_hvac_components": true,
        "i_toggle_controller": "",
        "i_wake_on_lan_controller": "",
        "camera_stream_configurations": [],
        "bands": [],
        "modes": [],
        "band_range_min": -6,
        "band_range_max": 6,
        "standby_wattage": "",
        "maximum_wattage": "",
        "arm_state": [],
        "alarms": [],
        "pin_code": "",
        "exit_delay": "",
        "mac_addresses": [],
        "primary_heater_operation": "3",
        "auxiliary_heater_operation": true,
        "cooler_operation": "2",
        "fan_operation": "1",
        "electricity_measuring_method": "",
        "electricity_default_resolution": "",
        "natural_gas_measuring_method": "",
        "natural_gas_default_resolution": "",
        "x": 730,
        "y": 800,
        "wires": [
            [
                "21a10626.9a490a"
            ]
        ]
    },
    {
        "id": "d8a70c1d.4c9bf",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "getState",
        "x": 520,
        "y": 800,
        "wires": [
            [
                "82c928de.3dbd58"
            ]
        ]
    },
    {
        "id": "49b3845e.e00f2c",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "ReportMeasurements",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.DeviceUsage.Meter\",\"name\":\"ReportMeasurements\",\"messageId\":\"2021-10-15T13:53:07.584Z\",\"correlationToken\":\"2021-10-15T13:53:07.584Z\",\"payloadVersion\":\"1.0\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "a1e3c3f6.df955",
        "type": "switch",
        "z": "5cc6ca02.0e2a64",
        "name": "ReportMeasurements",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ReportMeasurements",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "f94cd64.0beae28"
            ]
        ]
    },
    {
        "id": "f94cd64.0beae28",
        "type": "debug",
        "z": "5cc6ca02.0e2a64",
        "name": "TODO ReportMeasurements",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a8c174cb.2e0218",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "ReduceResolution",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.DeviceUsage.Meter\",\"name\":\"ReduceResolution\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"1.0\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{\"limit\":7200,\"duration\":\"PT6H\"}}}",
        "payloadType": "json",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "1f4376dd.4a50f9",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "InvalidMeasurementError",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.DeviceUsage.Meter\",\"name\":\"InvalidMeasurementError\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"1.0\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{\"electricity\":{\"errorCode\":\"NEGATIVE_VALUE\",\"timeOfError\":\"2020-07-05T12:00:00Z\"}}}}",
        "payloadType": "json",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "27f5ad34.1f4312",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "MeasurementsReport",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "correlationToken",
                "v": "$now()",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MeasurementsReport",
        "payload": "{\"electricityIntervals\":[{\"usage\":113.2,\"start\":\"2020-07-05T08:00:00Z\",\"end\":\"2020-07-05T09:00:00Z\"},{\"usage\":101.1,\"start\":\"2020-07-05T09:00:00Z\",\"end\":\"2020-07-05T10:00:00Z\"},{\"usage\":0,\"start\":\"2020-07-05T10:00:00Z\",\"end\":\"2020-07-05T10:51:30Z\"},{\"usage\":127.3,\"start\":\"2020-07-05T11:02:30Z\",\"end\":\"2020-07-05T12:00:00Z\"}]}",
        "payloadType": "json",
        "x": 260,
        "y": 2020,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "7cae27d9.a5a6a8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "MOTION",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"motionDetectionState\":\"DETECTED\"}",
        "payloadType": "json",
        "x": 520,
        "y": 700,
        "wires": [
            [
                "d8f22efa.dde0a"
            ]
        ]
    },
    {
        "id": "e061e9ed.eb06c8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "NO MOTION",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"motionDetectionState\":\"NOT_DETECTED\"}",
        "payloadType": "json",
        "x": 510,
        "y": 660,
        "wires": [
            [
                "d8f22efa.dde0a"
            ]
        ]
    },
    {
        "id": "4617b8a8.a32098",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "ReportState",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa\",\"name\":\"ReportState\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "3d89936.316a66c",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "Discovery",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.Discovery\",\"name\":\"Discover\",\"messageId\":\"<message id>\",\"payloadVersion\":\"3\"},\"payload\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"}}}}",
        "payloadType": "json",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "c638080f.631628"
            ]
        ]
    },
    {
        "id": "3951b16c.54e59e",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetSecurityDeviceNamesInError",
        "payload": "{\"names\":[\"Finestra Cucina1\",\"Finestra Bagno\"],\"topics\":[\"finestra/cucina\"]}",
        "payloadType": "json",
        "x": 230,
        "y": 2780,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "6a3057c5.262958",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "AddSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "AddSecurityDeviceNamesInError",
        "payload": "{\"names\":[\"Finestra Cucina\",\"Finestra Bagno\"],\"topics\":[\"finestra/salotto\"]}",
        "payloadType": "json",
        "x": 230,
        "y": 2820,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "9db4695e.b998a8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "DelSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DelSecurityDeviceNamesInError",
        "payload": "{\"names\":[\"Finestra Cucina1\",\"Finestra Bagno\"],\"topics\":[\"finestra/salotto\"]}",
        "payloadType": "json",
        "x": 230,
        "y": 2860,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "3baa9e9c1a44b53f",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "LOCKED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"lockState\":\"LOCKED\"}",
        "payloadType": "json",
        "x": 300,
        "y": 1460,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "92fafdddd4cf37f3",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "UNLOCKED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"lockState\":\"UNLOCKED\"}",
        "payloadType": "json",
        "x": 290,
        "y": 1500,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "c382bf21aad8eb9f",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "JAMMED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"lockState\":\"JAMMED\"}",
        "payloadType": "json",
        "x": 300,
        "y": 1540,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "cab4aa22.443468",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "brightness",
        "payload": "10",
        "payloadType": "num",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "9de9977a.487a18",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"brightness\":100}",
        "payloadType": "json",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "306f0d3e.f70672",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Brightness Controller",
        "info": "",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "9273677f.aee948",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " CameraStream Controller",
        "info": "",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f8125ef.9c0dac",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Channel Controller",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "83f9395b.2243d8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "RAI 1 HD",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":{\"number\":\"501\",\"callSign\":\"RAI 1 HD\",\"affiliateCallSign\":\"RAI\"}}",
        "payloadType": "json",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "dff4fc93.be06d",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "RAI 2 HD",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":{\"number\":\"502\",\"callSign\":\"RAI 2 HD\",\"affiliateCallSign\":\"RAI\"}}",
        "payloadType": "json",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "cde8bab8.9b5aa8",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Color Controller",
        "info": "",
        "x": 280,
        "y": 420,
        "wires": []
    },
    {
        "id": "29adead8.48e6e6",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "Color 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"color\":{\"hue\":350,\"saturation\":0.7138,\"brightness\":0.6524}}",
        "payloadType": "json",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "ec67799c.060658",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "Color 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"color\":{\"hue\":300.5,\"saturation\":0.7138,\"brightness\":0.6524}}",
        "payloadType": "json",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "11f70d37.12c223",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Color Temperature Controller",
        "info": "",
        "x": 240,
        "y": 540,
        "wires": []
    },
    {
        "id": "77d14032.a2922",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "Warm white",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"colorTemperatureInKelvin\": 2000}",
        "payloadType": "json",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "c929af2f.4716",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "Cool white",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"colorTemperatureInKelvin\": 7000}",
        "payloadType": "json",
        "x": 300,
        "y": 620,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "36726572.107d0a",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Contact Sensor",
        "info": "",
        "x": 280,
        "y": 660,
        "wires": []
    },
    {
        "id": "180c111e.e99b1f",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "NO CONTACT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"contactDetectionState\":\"NOT_DETECTED\"}",
        "payloadType": "json",
        "x": 280,
        "y": 700,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "68dda98.e3b5158",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "CONTACT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"contactDetectionState\":\"DETECTED\"}",
        "payloadType": "json",
        "x": 300,
        "y": 740,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "e9c54ab7.9b2768",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Doorbell Event Source",
        "info": "",
        "x": 260,
        "y": 780,
        "wires": []
    },
    {
        "id": "dd0e809548f57a03",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DoorbellPress",
        "payload": "PHYSICAL_INTERACTION",
        "payloadType": "str",
        "x": 240,
        "y": 820,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "c552d8fc.9b6878",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Endpoint Health ",
        "info": "",
        "x": 280,
        "y": 860,
        "wires": []
    },
    {
        "id": "7b4384a6.a7db5c",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "OK",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"connectivity\":{\"value\":\"OK\",\"reason\":null}}",
        "payloadType": "json",
        "x": 310,
        "y": 900,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "ead38007.67e8c",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "UNREACHABLE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"connectivity\":{\"value\":\"UNREACHABLE\",\"reason\":\"WIFI_BAD_PASSWORD\"}}",
        "payloadType": "json",
        "x": 280,
        "y": 940,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "60f724b3.1d89ac",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Equalizer Controller ",
        "info": "",
        "x": 270,
        "y": 980,
        "wires": []
    },
    {
        "id": "41fcd33a.96a9bc",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "Bands/Mode",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"bands\":[{\"name\":\"BASS\",\"value\":0},{\"name\":\"MIDRANGE\",\"value\":3},{\"name\":\"TREBLE\",\"value\":1}],\"mode\":\"MOVIE\"}",
        "payloadType": "json",
        "x": 290,
        "y": 1060,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "eda80bce.9fab18",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Estimation ",
        "info": "No State or directives",
        "x": 300,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a086ec2c.a8db8",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Event Detection Sensor ",
        "info": "",
        "x": 260,
        "y": 1140,
        "wires": []
    },
    {
        "id": "73ab523a.84b5bc",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "MOTION",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"motionDetectionState\":\"DETECTED\"}",
        "payloadType": "json",
        "x": 300,
        "y": 2140,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "bfa3967b.84f308",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "NO MOTION",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"motionDetectionState\":\"NOT_DETECTED\"}",
        "payloadType": "json",
        "x": 290,
        "y": 2100,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "2879d69c.f96e8a",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Input Controller ",
        "info": "",
        "x": 280,
        "y": 1260,
        "wires": []
    },
    {
        "id": "55feda92.2430b4",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "HDMI 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"input\":\"HDMI 1\"}",
        "payloadType": "json",
        "x": 310,
        "y": 1300,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "83bb6486.85fe28",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "HDMI 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"input\":\"HDMI 2\"}",
        "payloadType": "json",
        "x": 310,
        "y": 1340,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "a99493.299aeb7",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Keypad Controller ",
        "info": "No properties",
        "x": 270,
        "y": 1380,
        "wires": []
    },
    {
        "id": "b9dbecec.b3ed9",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Lock Controller ",
        "info": "",
        "x": 280,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d46b9113.9e008",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Media Metadata ",
        "info": "",
        "x": 280,
        "y": 1580,
        "wires": []
    },
    {
        "id": "80f7a8c7.9e82f8",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Deviceusage meter ",
        "info": "",
        "x": 270,
        "y": 1980,
        "wires": []
    },
    {
        "id": "1c5be69d.0e7c59",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Motion Sensor ",
        "info": "",
        "x": 290,
        "y": 2060,
        "wires": []
    },
    {
        "id": "779d74bb.18b6fc",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "DETECTED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"humanPresenceDetectionState\":\"DETECTED\",\"detectionMethods\":[\"VIDEO\"],\"media\":{\"type\":\"ALEXA.MEDIAMETADATA\",\"id\":\"<media metadata id>\"}}",
        "payloadType": "json",
        "x": 290,
        "y": 1180,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "ee82d7e6.758628",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "NOT_DETECTED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"humanPresenceDetectionState\": \"NOT_DETECTED\"}",
        "payloadType": "json",
        "x": 270,
        "y": 1220,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "2e31a003.c70b2",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Percentage Controller ",
        "info": "",
        "x": 260,
        "y": 2180,
        "wires": []
    },
    {
        "id": "64ba3f5c.8b689",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"percentage\": 75}",
        "payloadType": "json",
        "x": 270,
        "y": 2220,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "a4ce7d38.9653c",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"percentage\": 37}",
        "payloadType": "json",
        "x": 270,
        "y": 2260,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "fcbf55f0.6b3148",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Playback Controller ",
        "info": "No states",
        "x": 270,
        "y": 2300,
        "wires": []
    },
    {
        "id": "5bebba2.0cf7c44",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Power Controller ",
        "info": "",
        "x": 280,
        "y": 2340,
        "wires": []
    },
    {
        "id": "d11ae58c.f18268",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " PowerLevel Controller ",
        "info": "",
        "x": 260,
        "y": 2460,
        "wires": []
    },
    {
        "id": "c8c6df8c.fa17b",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"powerLevel\": 10}",
        "payloadType": "json",
        "x": 270,
        "y": 2500,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "c5687d55.80e6d",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"powerLevel\": 50}",
        "payloadType": "json",
        "x": 270,
        "y": 2540,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "3c2a9ba6.ff33d4",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Scene Controller ",
        "info": "No state",
        "x": 280,
        "y": 2580,
        "wires": []
    },
    {
        "id": "1d5215dd.918aca",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": " Security Panel Controller ",
        "info": "",
        "x": 250,
        "y": 2620,
        "wires": []
    },
    {
        "id": "9159c2ce.8fd48",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "DISARMED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"armState\": \"DISARMED\"}",
        "payloadType": "json",
        "x": 290,
        "y": 2900,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "ca3f1d72.35a3b",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "ARMED_AWAY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"armState\":\"ARMED_AWAY\",\"burglaryAlarm\":{\"value\":\"OK\"},\"carbonMonoxideAlarm\":{\"value\":\"OK\"},\"fireAlarm\":{\"value\":\"OK\"},\"waterAlarm\":{\"value\":\"OK\"}}",
        "payloadType": "json",
        "x": 280,
        "y": 2940,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "ec76ffd4.f31f9",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Speaker ",
        "info": "",
        "x": 300,
        "y": 2980,
        "wires": []
    },
    {
        "id": "2e8ab8f2.57d388",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"volume\": 10}",
        "payloadType": "json",
        "x": 290,
        "y": 3020,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "fe0207cc.71b9e8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"volume\":50,\"muted\":true}",
        "payloadType": "json",
        "x": 310,
        "y": 3060,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "c5e54dcd.6550f",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Step Speaker ",
        "info": "No state",
        "x": 290,
        "y": 3100,
        "wires": []
    },
    {
        "id": "a892bda1.3101d",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Temperature Sensor ",
        "info": "",
        "x": 270,
        "y": 3140,
        "wires": []
    },
    {
        "id": "d34611ba.1d20b",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "19.9C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":{\"value\":19.9,\"scale\":\"CELSIUS\"}}",
        "payloadType": "json",
        "x": 310,
        "y": 3180,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "cf4dfb7b.f35ca8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "29.9C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":{\"value\":29.9,\"scale\":\"CELSIUS\"}}",
        "payloadType": "json",
        "x": 310,
        "y": 3220,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "6c7c2d6a.7730a4",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Thermostat Controller ",
        "info": "",
        "x": 260,
        "y": 3260,
        "wires": []
    },
    {
        "id": "d2bc142f.d3f1f8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "T 19.9C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"targetSetpoint\":{\"value\":19.9,\"scale\":\"CELSIUS\"},\"thermostatMode\":\"HEAT\"}",
        "payloadType": "json",
        "x": 300,
        "y": 3300,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "b40e27a.f80c3d8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "T 19.9C - 21.9C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"lowerSetpoint\":{\"value\":19.9,\"scale\":\"CELSIUS\"},\"upperSetpoint\":{\"value\":19.9,\"scale\":\"CELSIUS\"},\"thermostatMode\":\"COOL\"}",
        "payloadType": "json",
        "x": 280,
        "y": 3340,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "6bd6da53.ff5ed4",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Thermostat Controller HVAC",
        "info": "",
        "x": 240,
        "y": 3380,
        "wires": []
    },
    {
        "id": "f02eef9d.59fa5",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"primaryHeaterOperation\":\"STAGE_2\",\"auxiliaryHeaterOperation\":\"OFF\",\"coolerOperation\":\"STAGE_2\",\"fanOperation\":\"STAGE_1\"}",
        "payloadType": "json",
        "x": 310,
        "y": 3420,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "8d816526.d58108",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"primaryHeaterOperation\":\"STAGE_3\",\"auxiliaryHeaterOperation\":\"ON\",\"coolerOperation\":\"STAGE_1\",\"fanOperation\":\"OFF\"}",
        "payloadType": "json",
        "x": 310,
        "y": 3460,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "8c5aa077.138ed",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Wake On LAN Controller ",
        "info": "No state",
        "x": 250,
        "y": 3500,
        "wires": []
    },
    {
        "id": "eef7ac27.8e6af",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "getState",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "d8f22efa.dde0a"
            ]
        ]
    },
    {
        "id": "c4072795.1d1e98",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "Bands/Mode",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"bands\":[{\"name\":\"BASS\",\"value\":-1},{\"name\":\"MIDRANGE\",\"value\":-2},{\"name\":\"TREBLE\",\"value\":-3}],\"mode\":\"MUSIC\"}",
        "payloadType": "json",
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "7bbd7003.beeca",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "BLU",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.ColorController\",\"name\":\"SetColor\",\"payloadVersion\":\"3\",\"messageId\":\"ca5c7c87-e414-4e6b-991c-ea13f6d73f9e\",\"correlationToken\":\"Correlation\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"token\"},\"endpointId\":\"endpoint\",\"cookie\":{}},\"payload\":{\"color\":{\"hue\":240,\"saturation\":1,\"brightness\":1}}}}",
        "payloadType": "json",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "2eecd1c9.e8afde",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "RED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.ColorController\",\"name\":\"SetColor\",\"payloadVersion\":\"3\",\"messageId\":\"ca5c7c87-e414-4e6b-991c-ea13f6d73f9e\",\"correlationToken\":\"Correlation\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"token\"},\"endpointId\":\"endpoint\",\"cookie\":{}},\"payload\":{\"color\":{\"hue\":0,\"saturation\":1,\"brightness\":1}}}}",
        "payloadType": "json",
        "x": 210,
        "y": 800,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "63cd9a33.69a834",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "White",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.ColorTemperatureController\",\"name\":\"SetColorTemperature\",\"payloadVersion\":\"3\",\"messageId\":\"f6234635-13a6-42b1-89a0-dd81dd7af8be\",\"correlationToken\":\"correlationToken\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"token\"},\"endpointId\":\"a7be65ba6d658b90\",\"cookie\":{}},\"payload\":{\"colorTemperatureInKelvin\":4000}}}",
        "payloadType": "json",
        "x": 210,
        "y": 840,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "4ef35db1.0cea44",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "Warm White",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.ColorTemperatureController\",\"name\":\"SetColorTemperature\",\"payloadVersion\":\"3\",\"messageId\":\"f6234635-13a6-42b1-89a0-dd81dd7af8be\",\"correlationToken\":\"correlationToken\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"token\"},\"endpointId\":\"a7be65ba6d658b90\",\"cookie\":{}},\"payload\":{\"colorTemperatureInKelvin\":2200}}}",
        "payloadType": "json",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "980ecf1f.e300d",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "TurnOn Oscillate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.ToggleController\",\"name\":\"TurnOn\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\",\"instance\":\"SampleManufacturer.Fan.Oscillate\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "d311681b.4ca248",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "TurnOff Oscillate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.ToggleController\",\"name\":\"TurnOff\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\",\"instance\":\"SampleManufacturer.Fan.Oscillate\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 180,
        "y": 960,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "175bce32.ed9362",
        "type": "comment",
        "z": "5cc6ca02.0e2a64",
        "name": "Toggles",
        "info": "",
        "x": 310,
        "y": 3540,
        "wires": []
    },
    {
        "id": "2e64ac83.6c7244",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "ON ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"toggles\":{\"SampleManufacturer.Fan.Oscillate\":\"ON\",\"SampleManufacturer.Fan.Oscillate12\":\"ON\"}}",
        "payloadType": "json",
        "x": 310,
        "y": 3580,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "db842796.00b868",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "OFF OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggles",
        "payload": "{\"SampleManufacturer.Fan.Oscillate\":\"OFF\",\"SampleManufacturer.Fan.Oscillate12\":\"OFF\"}",
        "payloadType": "json",
        "x": 300,
        "y": 3620,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "a61ea607.17e338",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "ON OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"toggles\":{\"SampleManufacturer.Fan.Oscillate\":\"ON\",\"SampleManufacturer.Fan.Oscillate12\":\"OFF\"}}",
        "payloadType": "json",
        "x": 300,
        "y": 3660,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "bfbaf89a.aa5688",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "OFF ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggles",
        "payload": "{\"SampleManufacturer.Fan.Oscillate\":\"OFF\",\"SampleManufacturer.Fan.Oscillate12\":\"ON\"}",
        "payloadType": "json",
        "x": 300,
        "y": 3700,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    }
]