test/flows.json
[
    {
        "id": "5cc6ca02.0e2a64",
        "type": "tab",
        "label": "Nodes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a2248b8.76ba18",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "https://alexa.amazon.it/spa/index.html#skills/beta/amzn1.ask.skill.a1319900-a900-47c2-bdb4-2f5e4ca89cae/?ref=skill_dsk_skb_ys\n\nhttps://developer.amazon.com/en-US/docs/alexa/smarthome/steps-to-build-a-smart-home-skill.html\n\nhttps://flows.nodered.org/flow/5a4d0fd9e3332ab6ecb56bbd51ed77f8\n\nhttps://www.saggiamente.com/2020/01/come-usare-home-assistant-con-alexa-gratuitamente-metodo-aggiornato-senza-nabucasa-e-token/\n\nhttps://developer.amazon.com/en-US/docs/alexa/account-linking/account-linking-for-sh-and-other.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/account-linking/add-account-linking-logic-smart-home.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/smarthome/understand-the-smart-home-skill-api.html\n\nhttps://www.home-assistant.io/integrations/alexa.smart_home/\n\nhttps://developer.amazon.com/en-US/docs/alexa/device-apis/message-guide.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/custom-skills/host-a-custom-skill-as-a-web-service.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/device-apis/alexa-discovery.html\n\nhttps://developer.amazon.com/en-US/docs/alexa/custom-skills/host-a-custom-skill-as-a-web-service.html#verify-request-sent-by-alexa\n\nhttps://developer.amazon.com/en-US/docs/alexa/custom-skills/host-a-custom-skill-as-a-web-service.html#manually-verify-request-sent-by-alexa\n\nhttps://github.com/alexa/alexa-skills-kit-sdk-for-nodejs\n\nhttps://developer.amazon.com/en-US/docs/alexa/account-linking/understand-account-linking.html\n\nhttps://developer.amazon.com/docs/login-with-amazon/register-web.html\n\nhttps://developer.amazon.com/docs/login-with-amazon/register-web.html#create-a-new-security-profile\n\nhttps://flows.nodered.org/flow/195773d3b493d81c9bf012f64da02ea3\n\nhttps://developer.amazon.com/docs/login-with-amazon/web-docs.html\n\npassport-amazon\ncognito-express\n\nhttps://developer.amazon.com/en-US/docs/alexa/device-apis/alexa-authorization.html#directives\n\nhttps://www.home-assistant.io/integrations/alexa.smart_home/\n\nhttps://developer.amazon.com/en-US/docs/alexa/account-linking/configure-authorization-code-grant.html\n"
    },
    {
        "id": "a2728c12.4058f",
        "type": "alexa-adapter",
        "name": "Alexa",
        "http_path": "alexa",
        "login_with_amazon": true,
        "event_endpoint": "http://127.0.0.1:1880/alexa/events",
        "scope": "smart_home",
        "emails": [
            "claudio@gmail.com"
        ],
        "msg_check": false,
        "verbose": true,
        "port": ""
    },
    {
        "id": "58c096a.8fa0d68",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Multi",
        "display_categories": [
            "CAMERA"
        ],
        "topic": "multi",
        "a_inputs": [
            "AUX 1",
            "AUX 2",
            "AUX 3",
            "AUX 4",
            "AUX 5",
            "AUX 6",
            "AUX 7",
            "BLURAY",
            "CABLE",
            "CD",
            "COAX 1",
            "COAX 2",
            "COMPOSITE 1",
            "DVD",
            "GAME",
            "HD RADIO",
            "HDMI 1",
            "HDMI 2",
            "HDMI 3",
            "HDMI 4",
            "HDMI 5",
            "HDMI 6",
            "HDMI 7",
            "HDMI 8",
            "HDMI 9",
            "HDMI 10",
            "HDMI ARC",
            "INPUT 1",
            "INPUT 2",
            "INPUT 3",
            "INPUT 4",
            "INPUT 5",
            "INPUT 6",
            "INPUT 7",
            "INPUT 8",
            "INPUT 9",
            "INPUT 10",
            "IPOD",
            "LINE 1",
            "LINE 2",
            "LINE 3",
            "LINE 4",
            "LINE 5",
            "LINE 6",
            "LINE 7",
            "MEDIA PLAYER",
            "OPTICAL 1",
            "OPTICAL 2",
            "PHONO",
            "PLAYSTATION",
            "PLAYSTATION 3",
            "PLAYSTATION 4",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "USB DAC",
            "VIDEO 1",
            "VIDEO 2",
            "VIDEO 3",
            "XBOX"
        ],
        "i_automation_management": true,
        "i_brightness_controller": false,
        "i_camera_stream_controller": false,
        "i_channel_controller": false,
        "i_color_controller": false,
        "i_color_temperature_controller": false,
        "i_contact_sensor": false,
        "i_doorbell_event_source": false,
        "i_endpoint_health": false,
        "i_equalizer_controller": false,
        "i_device_usage_estimation": false,
        "i_event_detection_sensor": false,
        "i_input_controller": false,
        "i_inventory_level_sensor": true,
        "i_inventory_usage_sensor": true,
        "i_keypad_controller": false,
        "a_kc_keys": [
            "UP",
            "DOWN",
            "LEFT",
            "RIGHT",
            "SELECT",
            "PAGE_UP",
            "PAGE_DOWN",
            "PAGE_LEFT",
            "PAGE_RIGHT",
            "INFO",
            "MORE"
        ],
        "i_lock_controller": false,
        "i_media_metadata": false,
        "i_meter": true,
        "i_mode_controller": true,
        "i_motion_sensor": false,
        "i_percentage_controller": false,
        "i_playback_controller": false,
        "a_playback_modes": [
            "Play",
            "Pause",
            "Stop",
            "StartOver",
            "Previous",
            "Next",
            "Rewind",
            "FastForward"
        ],
        "i_power_controller": true,
        "i_power_level_controller": true,
        "i_range_controller": true,
        "i_rtc_session_controller": false,
        "i_scene_controller": true,
        "i_security_panel_controller": false,
        "i_speaker": false,
        "i_step_speaker": false,
        "i_temperature_sensor": false,
        "i_thermostat_controller": false,
        "a_target_setpoint": true,
        "a_lower_setpoint": true,
        "a_upper_setpoint": true,
        "a_modes": [
            "AUTO",
            "COOL",
            "HEAT",
            "ECO",
            "OFF"
        ],
        "a_supports_scheduling": true,
        "i_thermostat_controller_hvac_components": true,
        "i_toggle_controller": true,
        "i_wake_on_lan_controller": true,
        "camera_stream_configurations": [
            {
                "p": [
                    "HLS"
                ],
                "t": [
                    "NONE"
                ],
                "v": [
                    "H264",
                    "MPEG2",
                    "MJPEG",
                    "JPG"
                ],
                "a": [
                    "G711",
                    "AAC",
                    "NONE"
                ],
                "r": [
                    [
                        "1024",
                        "768"
                    ],
                    [
                        "1920",
                        "1080"
                    ]
                ]
            }
        ],
        "bands": [
            "BASS",
            "MIDRANGE",
            "TREBLE"
        ],
        "modes": [
            "MOVIE",
            "MUSIC",
            "NIGHT",
            "SPORT",
            "TV"
        ],
        "band_range_min": "-6",
        "band_range_max": "6",
        "standby_wattage": "1",
        "maximum_wattage": "10",
        "arm_state": [
            "DISARMED",
            "ARMED_STAY",
            "ARMED_NIGHT",
            "ARMED_AWAY"
        ],
        "alarms": [
            "burglaryAlarm",
            "carbonMonoxideAlarm",
            "fireAlarm",
            "waterAlarm"
        ],
        "pin_code": "1234",
        "exit_delay": "10",
        "mac_addresses": [
            "1.2.3.4",
            "5.6.7.8"
        ],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "21a10626.9a490a"
            ]
        ]
    },
    {
        "id": "21a10626.9a490a",
        "type": "debug",
        "z": "5cc6ca02.0e2a64",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "c359c45b.db9df8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reportState",
        "payload": "reportState",
        "payloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "4875dfe1.7f992",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetMedia 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetMedia",
        "payload": "{\"id\":\"1\",\"cause\":\"cause of media creation\",\"recording\":{\"name\":\"Optional video name\",\"startTime\":\"2018-06-29T19:20:41Z\",\"endTime\":\"2018-06-29T19:21:41Z\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"uri\":{\"value\":\"https://somedomain/somevideo.mp4\",\"expireTime\":\"2018-06-29T19:31:41Z\"},\"thumbnailUri\":{\"value\":\"https://somedomain/someimage.png\",\"expireTime\":\"2018-06-29T19:31:41Z\"}}}",
        "payloadType": "json",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "5ccc13e4.e9e5dc",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetMedia 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetMedia",
        "payload": "{\"id\":\"2\",\"cause\":\"cause of media creation\",\"recording\":{\"name\":\"Optional video name\",\"startTime\":\"2018-06-29T19:20:41Z\",\"endTime\":\"2018-06-29T19:21:41Z\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"uri\":{\"value\":\"https://somedomain/somevideo.mp4\",\"expireTime\":\"2018-06-29T19:31:41Z\"},\"thumbnailUri\":{\"value\":\"https://somedomain/someimage.png\",\"expireTime\":\"2018-06-29T19:31:41Z\"}}}",
        "payloadType": "json",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "d8a877bb.329d08",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "AddOrUpdateMedia 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "AddOrUpdateMedia",
        "payload": "{\"id\":\"1\",\"cause\":\"cause of media creation\",\"recording\":{\"name\":\"Optional video name\",\"startTime\":\"2018-06-29T19:20:41Z\",\"endTime\":\"2018-06-29T19:21:41Z\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"uri\":{\"value\":\"https://somedomain/somevideo.mp4\",\"expireTime\":\"2018-06-29T19:31:41Z\"},\"thumbnailUri\":{\"value\":\"https://somedomain/someimage.png\",\"expireTime\":\"2018-06-29T19:31:41Z\"}}}",
        "payloadType": "json",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "6b7972c8.d196ac",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "AddOrUpdateMedia 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "AddOrUpdateMedia",
        "payload": "{\"id\":\"2\",\"cause\":\"cause of media creation\",\"recording\":{\"name\":\"Optional video name\",\"startTime\":\"2018-06-29T19:20:41Z\",\"endTime\":\"2018-06-29T19:21:41Z\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"uri\":{\"value\":\"https://somedomain/somevideo.mp4\",\"expireTime\":\"2018-06-29T19:31:41Z\"},\"thumbnailUri\":{\"value\":\"https://somedomain/someimage.png\",\"expireTime\":\"2018-06-29T19:31:41Z\"}}}",
        "payloadType": "json",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "520f57ab.bd85c8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetMedia",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetMedia",
        "payload": "[]",
        "payloadType": "json",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "3bdd2b87.908d34",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "RemoveMedia 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "RemoveMedia",
        "payload": "1",
        "payloadType": "str",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "a018dd66.8e2bb",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "RemoveMedia 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "RemoveMedia",
        "payload": "2",
        "payloadType": "str",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "44750f6a.f113b",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "RemoveMedia 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "RemoveMedia",
        "payload": "3",
        "payloadType": "str",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "adb9c6e69e992eb0",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "cameraStreams",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "8",
        "topic": "cameraStreams",
        "payload": "{\"cameraStreams\":[{\"uri\":\"https://pizza.dynu.net/hls/bbb.m3u8\",\"expirationTime\":\"2022-02-03T16:20:50.52Z\",\"idleTimeoutSeconds\":30,\"protocol\":\"HLS\",\"resolution\":{\"width\":1920,\"height\":1080},\"authorizationType\":\"NONE\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\"}],\"imageUri\":\"https://upload.wikimedia.org/wikipedia/commons/f/fb/Veduta_di_Paestum_2010.jpg\"}",
        "payloadType": "json",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "47019e74.d4e6b",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "getState",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "58c096a.8fa0d68",
                "d8f22efa.dde0a"
            ]
        ]
    },
    {
        "id": "7b40b80.dcbf448",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"powerState\": \"ON\"}",
        "payloadType": "json",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "3c9b7fa6.6357f",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"powerState\": \"OFF\"}",
        "payloadType": "json",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "5afc7e5.655468",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "SetSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SetSecurityDeviceNamesInError",
        "payload": "[\"Finestra Cucina\",\"Finestra Bagno\"]",
        "payloadType": "json",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "d8f22efa.dde0a",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Finestra Cucina",
        "display_categories": [
            "CONTACT_SENSOR"
        ],
        "topic": "",
        "a_inputs": [
            "BLURAY",
            "CABLE",
            "CD",
            "DVD",
            "GAME",
            "IPOD",
            "PHONO",
            "PLAYSTATION",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "XBOX"
        ],
        "i_automation_management": "",
        "i_brightness_controller": "",
        "i_camera_stream_controller": "",
        "i_channel_controller": "",
        "i_color_controller": "",
        "i_color_temperature_controller": "",
        "i_contact_sensor": true,
        "i_doorbell_event_source": "",
        "i_endpoint_health": true,
        "i_equalizer_controller": "",
        "i_device_usage_estimation": "",
        "i_event_detection_sensor": "",
        "i_input_controller": "",
        "i_inventory_level_sensor": "",
        "i_inventory_usage_sensor": "",
        "i_keypad_controller": "",
        "a_kc_keys": [],
        "i_lock_controller": "",
        "i_media_metadata": "",
        "i_meter": "",
        "i_mode_controller": "",
        "i_motion_sensor": true,
        "i_percentage_controller": "",
        "i_playback_controller": "",
        "a_playback_modes": [],
        "i_power_controller": "",
        "i_power_level_controller": "",
        "i_range_controller": "",
        "i_rtc_session_controller": "",
        "i_scene_controller": "",
        "i_security_panel_controller": "",
        "i_speaker": "",
        "i_step_speaker": "",
        "i_temperature_sensor": "",
        "i_thermostat_controller": "",
        "a_target_setpoint": false,
        "a_lower_setpoint": false,
        "a_upper_setpoint": false,
        "a_modes": [],
        "a_supports_scheduling": false,
        "i_thermostat_controller_hvac_components": "",
        "i_toggle_controller": "",
        "i_wake_on_lan_controller": "",
        "camera_stream_configurations": [],
        "bands": [],
        "modes": [],
        "band_range_min": -6,
        "band_range_max": 6,
        "standby_wattage": "",
        "maximum_wattage": "",
        "arm_state": [],
        "alarms": [],
        "pin_code": "",
        "exit_delay": "",
        "mac_addresses": [],
        "x": 540,
        "y": 200,
        "wires": [
            [
                "21a10626.9a490a"
            ]
        ]
    },
    {
        "id": "12c1a902.fc37c7",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Finestra Bagno",
        "display_categories": [
            "CONTACT_SENSOR"
        ],
        "topic": "",
        "a_inputs": [
            "BLURAY",
            "CABLE",
            "CD",
            "DVD",
            "GAME",
            "IPOD",
            "PHONO",
            "PLAYSTATION",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "XBOX"
        ],
        "i_automation_management": "",
        "i_brightness_controller": "",
        "i_camera_stream_controller": "",
        "i_channel_controller": "",
        "i_color_controller": "",
        "i_color_temperature_controller": "",
        "i_contact_sensor": true,
        "i_doorbell_event_source": "",
        "i_endpoint_health": "",
        "i_equalizer_controller": "",
        "i_device_usage_estimation": "",
        "i_event_detection_sensor": "",
        "i_input_controller": "",
        "i_inventory_level_sensor": "",
        "i_inventory_usage_sensor": "",
        "i_keypad_controller": "",
        "a_kc_keys": [],
        "i_lock_controller": "",
        "i_media_metadata": "",
        "i_meter": "",
        "i_mode_controller": "",
        "i_motion_sensor": true,
        "i_percentage_controller": "",
        "i_playback_controller": "",
        "a_playback_modes": [],
        "i_power_controller": "",
        "i_power_level_controller": "",
        "i_range_controller": "",
        "i_rtc_session_controller": "",
        "i_scene_controller": "",
        "i_security_panel_controller": "",
        "i_speaker": "",
        "i_step_speaker": "",
        "i_temperature_sensor": "",
        "i_thermostat_controller": "",
        "a_target_setpoint": false,
        "a_lower_setpoint": false,
        "a_upper_setpoint": false,
        "a_modes": [],
        "a_supports_scheduling": false,
        "i_thermostat_controller_hvac_components": "",
        "i_toggle_controller": "",
        "i_wake_on_lan_controller": "",
        "camera_stream_configurations": [],
        "bands": [],
        "modes": [],
        "band_range_min": -6,
        "band_range_max": 6,
        "standby_wattage": "",
        "maximum_wattage": "",
        "arm_state": [],
        "alarms": [],
        "pin_code": "",
        "exit_delay": "",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "21a10626.9a490a"
            ]
        ]
    },
    {
        "id": "14103df2.b76e12",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "AddSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "AddSecurityDeviceNamesInError",
        "payload": "[\"Finestra Cucina\",\"Finestra Salotto\",\"Finestra Bagno\"]",
        "payloadType": "json",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "90e497ed.6da6c8",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "DelSecurityDeviceNamesInError",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DelSecurityDeviceNamesInError",
        "payload": "[\"Finestra Cucina\",\"Finestra Bagno\"]",
        "payloadType": "json",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "58c096a.8fa0d68"
            ]
        ]
    },
    {
        "id": "3dc2d311.e5477c",
        "type": "alexa-device",
        "z": "5cc6ca02.0e2a64",
        "alexa": "a2728c12.4058f",
        "name": "Finestra Salotto",
        "display_categories": [
            "CONTACT_SENSOR"
        ],
        "topic": "",
        "a_inputs": [
            "BLURAY",
            "CABLE",
            "CD",
            "DVD",
            "GAME",
            "IPOD",
            "PHONO",
            "PLAYSTATION",
            "SATELLITE",
            "SMARTCAST",
            "TUNER",
            "TV",
            "XBOX"
        ],
        "i_automation_management": "",
        "i_brightness_controller": "",
        "i_camera_stream_controller": "",
        "i_channel_controller": "",
        "i_color_controller": "",
        "i_color_temperature_controller": "",
        "i_contact_sensor": true,
        "i_doorbell_event_source": "",
        "i_endpoint_health": "",
        "i_equalizer_controller": "",
        "i_device_usage_estimation": "",
        "i_event_detection_sensor": "",
        "i_input_controller": "",
        "i_inventory_level_sensor": "",
        "i_inventory_usage_sensor": "",
        "i_keypad_controller": "",
        "a_kc_keys": [],
        "i_lock_controller": "",
        "i_media_metadata": "",
        "i_meter": "",
        "i_mode_controller": "",
        "i_motion_sensor": true,
        "i_percentage_controller": "",
        "i_playback_controller": "",
        "a_playback_modes": [],
        "i_power_controller": "",
        "i_power_level_controller": "",
        "i_range_controller": "",
        "i_rtc_session_controller": "",
        "i_scene_controller": "",
        "i_security_panel_controller": "",
        "i_speaker": "",
        "i_step_speaker": "",
        "i_temperature_sensor": "",
        "i_thermostat_controller": "",
        "a_target_setpoint": false,
        "a_lower_setpoint": false,
        "a_upper_setpoint": false,
        "a_modes": [],
        "a_supports_scheduling": false,
        "i_thermostat_controller_hvac_components": "",
        "i_toggle_controller": "",
        "i_wake_on_lan_controller": "",
        "camera_stream_configurations": [],
        "bands": [],
        "modes": [],
        "band_range_min": -6,
        "band_range_max": 6,
        "standby_wattage": "",
        "maximum_wattage": "",
        "arm_state": [],
        "alarms": [],
        "pin_code": "",
        "exit_delay": "",
        "x": 540,
        "y": 320,
        "wires": [
            [
                "21a10626.9a490a"
            ]
        ]
    },
    {
        "id": "fd2d1fc9.a6156",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "contact DETECTED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"contactDetectionState\":\"DETECTED\"}",
        "payloadType": "json",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "d8f22efa.dde0a"
            ]
        ]
    },
    {
        "id": "480e2450.ff5bec",
        "type": "inject",
        "z": "5cc6ca02.0e2a64",
        "name": "contact NOT_DETECTED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"contactDetectionState\":\"NOT_DETECTED\"}",
        "payloadType": "json",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "d8f22efa.dde0a"
            ]
        ]
    },
    {
        "id": "afe220b2.11e04",
        "type": "http in",
        "z": "5a2248b8.76ba18",
        "name": "events",
        "url": "/alexa/events",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "5b34170f.a34bd8",
                "5a81a15d.55579"
            ]
        ]
    },
    {
        "id": "5b34170f.a34bd8",
        "type": "debug",
        "z": "5a2248b8.76ba18",
        "name": "Event GW",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "5a81a15d.55579",
        "type": "change",
        "z": "5a2248b8.76ba18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OK",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "2de9b659.8a17ca"
            ]
        ]
    },
    {
        "id": "2de9b659.8a17ca",
        "type": "http response",
        "z": "5a2248b8.76ba18",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "8fc0ad5d.6de5a",
        "type": "file",
        "z": "5a2248b8.76ba18",
        "name": "token",
        "filename": "alexa-tokens_a2728c12.4058f.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "c0299da8.ce3"
            ]
        ]
    },
    {
        "id": "9bae1630.d696c8",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "Tokens",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"own\":{\"access_token\":\"Atza|access_token-own\",\"refresh_token\":\"Atzr|refresh_token-own\",\"expire_at\":2633687638936},\"lwa\":{\"access_token\":\"Atza|access_token-lwa\",\"refresh_token\":\"Atzr|refresh_token-lwa\",\"expire_at\":2630610982765},\"evn\":{\"access_token\":\"Atza|access_token-evn\",\"refresh_token\":\"Atzr|refresh_token-evn\",\"expire_at\":2633691954758}}",
        "payloadType": "json",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "8fc0ad5d.6de5a"
            ]
        ]
    },
    {
        "id": "c0299da8.ce3",
        "type": "debug",
        "z": "5a2248b8.76ba18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "83a041b0.cc2f7",
        "type": "change",
        "z": "5a2248b8.76ba18",
        "name": "endpointId Multi",
        "rules": [
            {
                "t": "set",
                "p": "payload.directive.endpoint.endpointId",
                "pt": "msg",
                "to": "58c096a.8fa0d68",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.directive.endpoint.scope.token",
                "pt": "msg",
                "to": "Atza|access_token-own",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "c638080f.631628"
            ]
        ]
    },
    {
        "id": "bb6581f2.1d929",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "InitializeCameraStreams RTSP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.CameraStreamController\",\"name\":\"InitializeCameraStreams\",\"payloadVersion\":\"3\",\"messageId\":\"d1aabb49-a0e8-4327-b4de-0b35136dc8a0\",\"correlationToken\":\"mio_correlation_token\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{\"cameraStreams\":[{\"authorizationType\":\"NONE\",\"protocol\":\"RTSP\",\"videoCodec\":\"JPG\",\"audioCodec\":\"G711\",\"resolution\":{\"width\":1920,\"height\":1080}}]}}}",
        "payloadType": "json",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "7e30f48e.6c200c",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "InitializeCameraStreams HLS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.CameraStreamController\",\"name\":\"InitializeCameraStreams\",\"payloadVersion\":\"3\",\"messageId\":\"d1aabb49-a0e8-4327-b4de-0b35136dc8a0\",\"correlationToken\":\"mio_correlation_token\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{\"cameraStreams\":[{\"authorizationType\":\"NONE\",\"protocol\":\"HLS\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"resolution\":{\"width\":1920,\"height\":1080}}]}}}",
        "payloadType": "json",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "91def99.88d2b08",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "InitializeCameraStreams",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.CameraStreamController\",\"name\":\"InitializeCameraStreams\",\"payloadVersion\":\"3\",\"messageId\":\"d1aabb49-a0e8-4327-b4de-0b35136dc8a0\",\"correlationToken\":\"mio_correlation_token\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{\"cameraStreams\":[{\"authorizationType\":\"NONE\",\"protocol\":\"HLS\",\"videoCodec\":\"H264\",\"audioCodec\":\"AAC\",\"resolution\":{\"width\":1920,\"height\":1080}}]}}}",
        "payloadType": "json",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "93166dc8.e3842",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "GetMediaMetadata ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.MediaMetadata\",\"name\":\"GetMediaMetadata\",\"messageId\":\"123-456-789\",\"correlationToken\":\"token\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"Atza|access_token-own\"},\"endpointId\":\"58c096a.8fa0d68\",\"cookie\":{}},\"payload\":{\"filters\":{\"mediaIds\":[\"media Ids\",\"1\",\"2\",\"3\"]}}}}",
        "payloadType": "json",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "4af86ba2.9c5134",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "ARMED_AWAY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SecurityPanelController\",\"name\":\"Arm\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{\"armState\":\"ARMED_AWAY\"}}}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "6a50ad68.133f24",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "DISARMED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SecurityPanelController\",\"name\":\"Disarm\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "23fa4207.812ece",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "ARMED_STAY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SecurityPanelController\",\"name\":\"Arm\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{\"armState\":\"ARMED_STAY\"}}}",
        "payloadType": "json",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "8d4fbf8a.3d98a",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "DISARMED 1234",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SecurityPanelController\",\"name\":\"Disarm\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{\"authorization\":{\"type\":\"FOUR_DIGIT_PIN\",\"value\":\"1234\"}}}}",
        "payloadType": "json",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "add3c007.1f022",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "Activate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SceneController\",\"name\":\"Activate\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\"},\"payload\":{}}}",
        "payloadType": "json",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "ffa373be.7e953",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "Deactivate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.SceneController\",\"name\":\"Deactivate\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\"},\"payload\":{}}}",
        "payloadType": "json",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "86fe6da9.96efb",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "TurnOn",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.PowerController\",\"name\":\"TurnOn\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "4752a27c.d7af1c",
        "type": "inject",
        "z": "5a2248b8.76ba18",
        "name": "TurnOff",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"directive\":{\"header\":{\"namespace\":\"Alexa.PowerController\",\"name\":\"TurnOff\",\"messageId\":\"<message id>\",\"correlationToken\":\"<an opaque correlation token>\",\"payloadVersion\":\"3\"},\"endpoint\":{\"scope\":{\"type\":\"BearerToken\",\"token\":\"<an OAuth2 bearer token>\"},\"endpointId\":\"<endpoint id>\",\"cookie\":{}},\"payload\":{}}}",
        "payloadType": "json",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "83a041b0.cc2f7"
            ]
        ]
    },
    {
        "id": "c638080f.631628",
        "type": "http request",
        "z": "5a2248b8.76ba18",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/alexa/smarthome/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "7f2571fd.2010a"
            ]
        ]
    },
    {
        "id": "7f2571fd.2010a",
        "type": "json",
        "z": "5a2248b8.76ba18",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "416deff1.a0273"
            ]
        ]
    },
    {
        "id": "416deff1.a0273",
        "type": "debug",
        "z": "5a2248b8.76ba18",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "a5519ad.8c21468",
        "type": "debug",
        "z": "5a2248b8.76ba18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "9ef89361.fb55b",
        "type": "catch",
        "z": "5a2248b8.76ba18",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "a5519ad.8c21468"
            ]
        ]
    }
]